# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\大数据实验室\cy-chat-room\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
